<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} %boldCyan(%thread) %boldGreen(%logger{0}) %highlight(%level) %msg%n
            </pattern>
            <pattern>%boldGreen(%d{yyyy-MM-dd}) %boldYellow(%d{HH:mm:ss}) %highlight(%5level) %boldGreen(%40.40logger{40}) %gray(|) %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- this block normally goes under the file block -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="io.lettuce.core" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="net.dv8tion.jda.api.requests.RestRateLimiter" level="TRACE"/>
    <logger name="net.dv8tion.jda.internal.requests.Requester" level="TRACE"/>

    <appender name="DAILYFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/watchdog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_HOME}/watchdog-%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} %thread %logger{0} %level %msg%n
            </pattern>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss} %5level %40.40logger{40} | %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="DAILYFILE"/>
    </root>

</configuration>